# echo.socket
# Beispiel für socket-activation mit systemd 
# GPN Workshop 22. Juni 2025
# "Borrowed" from Paul Brown
# https://www.linux.com/training-tutorials/end-road-systemds-socket-units/
[Unit] 
Description = Echo server 

[Socket] 
ListenStream = 4444 
Accept = yes 

[Install] 
WantedBy = sockets.target
